
    <%- include('partials/header') %>

<section id="boutique">
              
  <section id="about">
      <div>
          <h1>Ambiance de la boutique</h1>
          <p>Bienvenue dans notre boutique, où règne une ambiance chaleureuse et accueillante qui éveille tous vos sens.<br>
       Dès que vous franchissez la porte, vous êtes enveloppé d'une douce symphonie d'arômes envoûtants de café fraîchement moulu.<br>

L'atmosphère est empreinte d'une lueur chaleureuse, avec des lumières tamisées qui créent des jeux d'ombres et de lumières apaisants.<br>
Les murs sont ornés d'éléments rustiques, de panneaux en bois et de photographies captivantes de plantations de café, évoquant l'origine de ces délices aromatiques.<br>

Les étagères en bois exposent fièrement une variété de grains de café provenant des quatre coins du monde, chacun racontant une histoire unique de terroir et de culture.<br> 
Les sacs de café empilés dévoilent une palette de couleurs allant des tons chocolat aux nuances ambrées, invitant à l'exploration sensorielle.<br>

Le cliquetis des tasses et des cuillères résonne joyeusement dans l'air et le son réconfortant des machines à expresso en action crée une symphonie orchestrée avec soin,<br>
 soulignant l'expertise et l'art qui se cachent derrière chaque tasse de café servie.<br>

Les coins douillets sont parsemés de fauteuils confortables et de canapés moelleux, invitant nos clients à s'installer et à se perdre dans un bon livre,<br>
 ou simplement à profiter d'une conversation entre amis. L'odeur enivrante du café fraîchement infusé flotte dans l'air,<br> 
 créant une ambiance propice à la détente et à la contemplation.<br>

Le personnel attentionné et passionné est toujours prêt à partager ses connaissances et ses recommandations,<br>
 créant un lien chaleureux entre les amateurs de café et les artisans qui le préparent avec soin.<br> 
 Chaque visite est une expérience personnelle, où le client est accueilli comme un ami de longue date.<br>

Dans notre détaillant de café, l'ambiance chaleureuse vous invite à ralentir le rythme trépidant de la vie quotidienne et à savourer l'instant présent.<br>
 Que vous soyez un connaisseur de café ou un novice curieux, nous sommes là pour vous guider dans un voyage sensoriel inoubliable,<br>
 où chaque gorgée révèle un monde de saveurs riches et complexes.<br>
            </p>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2803310.0320692887!2d1.7091642645870337!3d46.67401071215167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cb406d11fd03ff%3A0x7ef3af4b486b3e89!2zw5QgQ2Fmw6k!5e0!3m2!1sfr!2sfr!4v1758882475517!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          <a class="button" href="/catalog">Découvrir notre catalogue</a>
      </div>
      <img src="/images/coffees/954589100.png" alt="Selection de nos meilleurs cafés oCoffee">

    </section>

 

    <%- include('partials/footer') %>