 <%- include('partials/header') %>


    <section id="about">
        <div>
            <ul>
                <li>
          <article>
            <h1>Qui sommes-nous ?</h1>
            <p>Jean et Jacques Pepper, deux frères passionnés par le café, sont les fondateurs de notre boutique.<br> 
                Avec une expertise approfondie et un amour profond pour cette délicieuse boisson, <br> 
                ils ont créé un espace où le café est célébré comme une expérience raffinée et inspirante.<br> 

                Pendant leur séjour en Colombie, Jean et Jacques ont eu la chance de visiter une plantation de café pittoresque, <br> 
nichée au cœur des montagnes verdoyantes. Ils ont été immédiatement captivés par l'atmosphère envoûtante et <br> 
l'engagement des agriculteurs locaux à cultiver les meilleurs grains de café.<br> 

Au cours de cette visite, ils ont eu l'occasion de rencontrer des producteurs de café passionnés qui leur ont partagé leurs connaissances <br> 
et leur amour pour le processus de culture, de récolte et de transformation du café. <br> 
Jean et Jacques ont été fascinés par l'attention méticuleuse portée à chaque étape de la production,<br> 
 ainsi que par la diversité des saveurs et des arômes uniques que les différents terroirs colombiens offraient.<br> 

C'est à ce moment-là que l'étincelle de l'inspiration a embrasé leur esprit. <br> 
Ils ont réalisé qu'ils voulaient partager cette passion pour le café de qualité avec le reste du monde.<br> 
 Leur vision était de créer un lieu où les amateurs de café pourraient découvrir et déguster des variétés de café exceptionnelles,<br> 
 tout en apprenant sur leur origine et leur processus de production.<br> 

De retour chez eux, Jean et Jacques ont mis en pratique leurs idées et ont commencé à planifier l'ouverture de leur boutique de café.<br> 
 Ils ont parcouru les fournisseurs, sélectionné avec soin les meilleurs grains de café issus de plantations durables et équitables,<br> 
  et ont créé un espace accueillant et chaleureux pour accueillir les amateurs de café.<br> 

Leur boutique de café était bien plus qu'un simple commerce. C'était un lieu où les clients pouvaient vivre une expérience sensorielle unique,<br> 
 en explorant les différentes origines, torréfactions et méthodes d'infusion.<br> 
  Jean et Jacques se sont également engagés à soutenir les communautés de producteurs de café en travaillant directement avec eux et<br> 
   en veillant à ce que chaque tasse de café servie contribue à un commerce équitable et durable.<br> 

Aujourd'hui, la boutique de café des frères Pepper est devenue une référence pour les amateurs de café de la région.<br> 
 Leur passion, leur connaissance approfondie et leur engagement envers la qualité se reflètent dans chaque tasse servie. <br> 
 Jean et Jacques sont fiers d'avoir transformé leur voyage en Colombie en une aventure entrepreneuriale qui a <br> 
 permis à tant de personnes de découvrir et d'apprécier le véritable plaisir du café.<br> 
              </p>
          <a class="button" href="/catalog">Découvrir notre catalogue</a>
      </div>
      <img src="/images/coffees/582954954.png" alt="Selection de nos meilleurs cafés oCoffee">
    </section>
  
      

<%- include('partials/footer') %>
 